body{
    background-image:url("media/267747-popular-background-images-2560x1600-for-mac.jpg");
    padding: 18px;
    font-size:18px;


}

table, th, td {border:1px solid black;}
#addIssue {text-decoration: underline; color: blue
}

/*#issueTable {
    counter-reset: rowNumber;
}

table tr:not(:first-child) {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}*/

#image1{
    border-radius: 25px;
    position: relative;
    left:120px;
    width:160px;
    height: 160px;
    
}

.legend {
    font-weight: bold;
    font-size: 22px;
}

#wrap,#confirm,#signingUp,#pass,#del{
    width:40%;
    margin: auto;
}

#legctr{
    

}

.closedIssue {
	color: gray;
	font-style: italic;
}
td>a.closedIssue {
	color: gray;
	font-style: italic;
}

h1 {
	font-family: "Gravitas One";
}

@media print {
	h1 {
	       display:none;	
	}
	form {
		display:none;
	}
	button {
		display:none;
	}
	a {
		color: black;
		text-decoration: none;
	}
}

#status {
	font-size:16px;
	font-weight: bold;
	color: red;
}

#warning {
	color: orange;
}

.IconExample {
	width:60px;
        height:60px;	
}
#closed {
	font-style: italic;
	color: red;
}
